In [1]:
#Q1. Write a Python program to create a tuple.  
var=()
print(var)

()

In [3]:
#Q2. Write a Python program to create a tuple with different data types.  
var1=(6,'mahika',True)
print(var1)

(6, 'mahika', True)

In [4]:
#Q3. Write a Python program to create a tuple with numbers and print one item.  
xc=(20, 30, 40, 50)
print(xc[2])

40

In [5]:
#Q4. Write a Python program to unpack a tuple in several variables.  
xc=(20, 30, 40, 50)
a, b, c, d=xc
print(a, b, c, d)

20 30 40 50

In [10]:
#Q5. Write a Python program to add an item in a tuple.  
xc=(20, 30, 40, 50)
x=(60,)
xc= xc+ x
print(pt)

(20, 30, 40, 50, 60)

In [18]:
#Q6. Write a Python program to convert a tuple to a string.  
var=("10","20","30")
str=' bla '.join(var)
print(str)

10 bla 20 bla 30

In [26]:
#Q7. Write a Python program to get the 4th element and 4th element from last of a tuple
chh=("a","b","c","d","e","f","g","h")
print(chh[3], chh[-4])

d e

In [29]:
#Q8. a Python program to find the repeated items of a tuple.  
var=(1,2,1,4,5,2,1,1,1)
print(var.count(1))

5

In [30]:
#Q9. Write a Python program to check whether an element exists within a tuple.  
var=(1,4,2,3,5)
if 2 in var:
    print("present")
else:
    print("absent")

present

In [32]:
#Q10. Write a Python program to convert a list to a tuple.  
list1=[1,2,3,4,5]
var= tuple(list1)
print(var)

(1, 2, 3, 4, 5)

In [35]:
#Q11. Write a Python program to remove an item from a tuple.  
var=(1,2,3,4)
list1= list(var)
list1.remove(3)
var1= tuple(list1)
print(list1)

[1, 2, 4]

In [38]:
#Q12. Write a Python program to slice a tuple.
var=(1,2,3,4)
list1=list(var)
list1.remove(2),list1.remove(3)
var1= tuple(list1)
print(var1)

(1, 4)

In [40]:
#Q12(ii) Write a Python program to slice a tuple 
var=(1,2,3,4)
print(var[2:])

(3, 4)

In [51]:
#Q12(iii) Write a Python program to slice a tuple 
var=(1,2,3,4)
print(var[0:2]+var[-1: ])

(1, 2, 4)

In [54]:
#Q13. Write a Python program to find the index of an item of a tuple.  
var=(10,20,30,4)
print(var.index(30))

2

In [56]:
#Q14. Write a Python program to find the length of a tuple.  
var=(1,2,3,4)
print(len(var))

4

In [60]:
#reverse function
var=(1,2,3,4)
print(tuple(reversed(var)))

(4, 3, 2, 1)